Package: ovh.exerhythm.batterain
Name: Batterain
Version: 1.1
Architecture: iphoneos-arm
Description: An open-source tweak to color the battery icon
Maintainer: ExeRhythm
Author: ExeRhythm
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
